<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WcfService.Properties.Settings.betaTekvahConnectionString"
      connectionString="Data Source=AHMAD-NAWAF\SQLEXPRESS;Initial Catalog=betaTekvah;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>

    </bindings>
    <services>
      <service behaviorConfiguration="Default" name="WcfService.ScannerService">
        <endpoint address="" binding="webHttpBinding" contract="WcfService.InterfaceService"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/exampleService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true"></serviceMetadata>

        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
   <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
